.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
  height: 500px;

}

.editor-class {
  padding: 15px;
  border: 1px solid #ccc;
  height: 340px;
}
.toolbar-class {
  border: 1px solid #ccc;
}